CONFIG_IDF_TARGET="esp32s3"
CONFIG_LK_EXAMPLE_CODEC_BOARD_TYPE="DUMMY_CODEC_BOARD"
CONFIG_LK_EXAMPLE_SPEAKER_VOLUME=85
CONFIG_MITR_DEVICE_LANGUAGE="hi-IN"
CONFIG_MITR_DEVICE_HARDWARE_REV="esp32-s3-wroom"
CONFIG_MITR_DEVICE_FIRMWARE_VERSION="v0.1.0-dev"

CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_WS_CLIENT_ENABLE_DYNAMIC_BUFFER=y
CONFIG_ESP_WS_CLIENT_SEPARATE_TX_LOCK=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_LWIP_SNTP_MAX_SERVERS=2
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
CONFIG_MBEDTLS_SSL_DTLS_SRTP=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_PARTITION_TABLE_CUSTOM=y
